<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Gyaim</string>
	<key>CFBundleIdentifier</key>
	<string>com.pitecan.inputmethod.Gyaim</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Gyaim</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.apple.inputmethod.Japanese</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.pitecan.inputmethod.Gyaim.Japanese</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.apple.inputmethod.Japanese</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4E3002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0433</string>
	<key>DTXcodeBuild</key>
	<string>4E3002</string>
	<key>InputMethodConnectionName</key>
	<string>Gyaim_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>GyaimController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>GyaimController</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hira</string>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>icon.tiff</string>
</dict>
</plist>
